vendor
node_modules
.git
.env
.gitignore
README.md
docker-compose.yml
Dockerfile
.dockerignore
tests/
storage/*.key
storage/logs/*.log
bootstrap/cache/*.php
.phpunit.cache
*.sqlite
*.log
.idea
.vscode